<#@ template language="C#" hostspecific="True" #>
<#@ 
	include file="../../../../Generators/Generators.Components/DataModelGeneratorHelper.tt" 
#>
<#
this.GenerateDataModelFiles(	"DataModel.TaskTimeTracker.ApplicationDevelopment",
								new [] {"Module", "FunctionalityPriority", "FeatureOwnerStatus", "DBComponentName", "DBName", 
								"DBProjectName", "FunctionalityActiveStatus"} 

							);
#>