<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ include file=".\..\..\..\..\_Generators\AngularUI\EntityListTableControllerGeneratorHelper.tt" #>
<#
	this.RenderListTableControllers(new string[]{"continent", "country","currency", "geographicRegion","religion","airport", "city", "helpLine", "mall", "monument", "region", "state", "timeZone", "trainStation", "calendar", "holiday"});
#>