<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ include file=".\..\..\..\..\_Generators\AngularUI\V1\EntitySaveControllerGeneratorHelper.tt" #>
<#
	this.RenderSaveControllers(new string[]{"continent", "country","currency", "geographicRegion","religion","airport", "city", "helpLine", "mall", "monument", "region", "state", "timeZone", "trainStation", "calendar", "holiday"});
#>