<#@ template language="C#" hostspecific="True" #>
<#@ 
	include file="../../../../Generators/Generators.SQL/SQLStandardEntity/EntitySqlGeneratorHelper.tt"
#>
<#
	this.GenerateSqlFiles("DataModel.DayCare", "Currency", "CurrencyDataModel", "Location", "706", "Welcome1");
#>