<#@ template language="C#" hostspecific="True" #><#@ assembly name="$(TargetDir)\DataModel.CapitalMarkets.dll" #>
<#@ output extension=".sql" #>
<#@ 
	include file="../../../../../Generators/Generators.SQL/SQLNonStandardEntity/EntitySqlGeneratorHelper.tt"     
#>
<#
	this.GenerateSqlFiles("DataModel.CapitalMarkets", "Trader", "TraderDataModel", "CapitalMarketsSecurityMaster", "706", "Welcome1");
#>