<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ include file="..\..\..\Generators\Generators.Components\DataManagerGeneratorHelper.tt" #>
<#
this.GenerateDataManagerFiles(	"Framework.Components.Import", 
								"DataModel.Framework.Import",
								new [] {"BatchFileStatus", "FileType"} 
							);
#>