<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ include file=".\..\..\..\..\_Generators\AngularUI\EntityDetailViewGeneratorHelper.tt" #>
<#
	this.RenderDetailViews
	(
		new string[]
		{
				"Continent"
			,	"Country"
			,	"Currency"
			,	"GeographicRegion"
			,	"Religion"
			,	"Airport"
			,	"City"
			,	"HelpLine"
			,	"Mall"
			,	"Monument"
			,	"Region"
			,	"State"
			,	"TimeZone"
			,	"TrainStation"
			,	"Calendar"
			,	"Holiday"  

		}
	);
#>