<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ include file=".\..\..\..\..\_Generators\AngularUI\EntitySaveViewGeneratorHelper.tt" #>
<#
	this.RenderSaveViews(new string[]{"Continent"	,	"Country",	"Currency",	"GeographicRegion",	"Religion", "Airport", "City", "HelpLine", "Mall", "Monument", "Region", "State", "TimeZone", "TrainStation", "Calendar", "Holiday"  });
#>