<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ assembly name="$(TargetDir)\DataModel.CapitalMarkets.dll" #>
<#@ include file="../../../Generators/Generators.Components/NonStdEntityDataManagerGeneratorHelper.tt" #>
<#
this.GenerateNonStandardDataManagerFiles(	"CapitalMarkets.Components.BusinessLayer", 
								"DataModel.CapitalMarkets",
		new [] {

				"CommissionCode",
				"CommissionRate",
				"CommissionType",
				"CommissionSplit"
	} , 
		false);
						
#>




