<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ include file="../../../Generators/Generators.Components/NonStdEntityDataManagerGeneratorHelper.tt" #>
<#
	
	this.GenerateNonStandardDataManagerFiles(	"CapitalMarkets.Components.BusinessLayer", 
								"DataModel.CapitalMarkets",
		new [] {

		"InvestingFeeder" ,
		"LegalEntity", 
	   "Class" ,
	   "SubClass" , 
	   "Series" ,
	   "AllocationGroup"	   
	

		} );
	
						
#>



