<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">


    <div class="container-fluid">

	    <div class="navbar-header">

		    <div class="navbar-brand hidden-md hidden-sm">Day Care</div>

		    <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
		    </button>

	    </div>
		
		

	    <div class="navbar-collapse" ng-class="isCollapsed ? 'collapse' : 'in'">

            <!--dynamic menu-->
		    <ul class="nav navbar-nav">			    
		    </ul>
			


	        <ul class="nav navbar-nav">

                <li class="main btn" ng-repeat="item in menu" ng-mouseover="showSubMenu(item, $index)"></li>


                <li class="dropdown" data-is-open="AdminOpen">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="A4">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/Enrollment/Student/search">Student</a></li>
                        <li><a href="#/Enrollment/Teacher/search">Teacher</a></li>
                        <li><a href="#/Enrollment/Registration/search">Registration</a></li>
                         <li><a href="../../app/BM/DayCare/PageInfo.aspx">Page Info</a></li>
                    </ul>
                </li>

               <!-- <li class="dropdown" data-is-open="Beta">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="A6">Beta<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/Restangular/test-restangular/search">sample restangular</a></li>
                    </ul>
                </li>-->
               
                <!-- <li class="dropdown" data-is-open="CGOpen">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="A4">Other<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        
                    </ul>
                </li>-->
            </ul>

		    <ul class="nav navbar-nav navbar-right">
			    <li class="dropdown" data-is-open="loginOpen">
				    <a title="User profile for Administrator" class="dropdown-toggle" data-toggle="dropdown" id="A4">
					    <img src="/Content/Images/ProfilePics/avatar.jpg" width="20" height="20" style="display:inline-block;vertical-align:top;border:0px;"/>
				    </a>
				    <ul class="dropdown-menu dropdown-menu-right">
					    <div data-ng-include="'../../app/core/views/nav-menu-user.html'"></div>
				    </ul>
			    </li>
			    <li class="dropdown" data-is-open="applicationsOpen">
				    <a class="dropdown-toggle" data-toggle="dropdown" id="A3">Applications <span class="caret"></span></a>
				    <ul class="dropdown-menu">
					    <div data-ng-include="'../../app/core/views/application-list.html'"></div>
				    </ul>
			    </li>
				<li class="dropdown" data-is-open="langOpen">
				    <a class="dropdown-toggle" data-toggle="dropdown" id="A7">USA (English)</a>
				    <ul class="dropdown-menu" id="language-accordion">
					    <li>
						    <div style="width: 500px;" data-ng-include="'../../app/core/views/nav-menu-language.html'"></div>
					    </li>
					    <li>
						    <div style="width: 500px;" data-ng-include="'../../app/core/views/nav-menu-location.html'"></div>
					    </li>
				    </ul>
			    </li>
		    </ul>

		    <div class="col-sm-2 col-md-2 pull-right">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="q">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
