

	        <ul class="nav navbar-nav">

                <li class="main btn" ng-repeat="item in menu" ng-mouseover="showSubMenu(item, $index)"></li>

               <!-- <li class="dropdown" data-is-open="CoordinatorOpen">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="A1">Coordinator<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/FoodType/search">Food Type</a></li>
                        <li><a href="#/MealType/search">Meal Type</a></li>
                        <li><a href="#/Discount/search">Discount</a></li>
                        <li><a href="#/PaymentMethod/search">Payment Method</a></li>
                        <li><a href="#/ActivityType/search">Activity Type</a></li>
                        <li><a href="#/ActivitySubType/search">Activity Sub Type</a></li>
                        <li><a href="#/EventType/search">Event Type</a></li>
                        <li><a href="#/DiaperStatus/search">Diaper Status</a></li>
                        <li><a href="#/NeedItem/search">Need Item</a></li>
                    </ul>
                </li>

                <li class="dropdown" data-is-open="UsersOpen">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="A2">Users<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/Meal/search">Meal</a></li>
                        <li><a href="#/MealDetail/search">Meal Detail</a></li>
                        <li><a href="#/AccidentReport/search">Accident Report</a></li>
                        <li><a href="#/AccidentPlace/search">Accident Place</a></li>
                        <li><a href="#/Sleep/search">Sleep</a></li>
                        <li><a href="#/Comment/search">Comment</a></li>
                        <li><a href="#/SickReport/search">Sick Report</a></li>
                        <li><a href="#/Tuition/search">Tuition</a></li>
                        <li><a href="#/BathRoom/search">BathRoom</a></li>
                    </ul>
                </li>-->
                
                <li class="dropdown" data-is-open="NonStdEntitiyOpen">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="A6">Non Standard Entites<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/EventSubType/search">Event Sub Type</a></li>
                    </ul>
                </li>

                <li class="dropdown" data-is-open="AdminOpen">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="A4">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/Student/search">Student</a></li>
                        <li><a href="#/Teacher/search">Teacher</a></li>
                    </ul>
                </li>
                <li class="dropdown" data-is-open="BetaOpen">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="A5">Beta<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/test-restangular/search">sample restangular</a></li>
                    </ul>
                </li>

                <!-- <li class="dropdown" data-is-open="CGOpen">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="A4">Other<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        
                    </ul>
                </li>-->
            </ul>
