
@font-face {
	font-family: glyphicons-halflings-regular;
	src:	url('/Content/fonts/glyphicons-halflings-regular.eot')
			, url('/Content/fonts/glyphicons-halflings-regular.ttf') format('truetype')
			, url('/Content/fonts/glyphicons-halflings-regular.woff');
}

/*
http://stackoverflow.com/questions/18023493/bootstrap-3-dropdown-sub-menu-missing
*/
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}


/*@import url("Breadcrumb.css");*/

/* DEFAULTS
----------------------------------------------------------*/

/*body
{
    background: #cfdbe6;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
    min-width: 1200px;
}*/

/*a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}*/

/*p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}*/


/* HEADINGS   
----------------------------------------------------------*/

/*h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}*/

/*h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}*/

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
/*.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}*/


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
/*.TTT-LargeComboWidth {
    width:450px;
}

.TTT-LargeTextBoxWidth {
    width:450px;
}*/


/*.page
{*/
    /*width: 97%;*/
    /*background-color: #ffffff;
    margin: 0px auto 0px auto;
    border: 0px solid #496077;
    margin-left: 35px !important;
}*/


/*.ListTableWideCell
{
    font-weight: bold;
    width: auto;
    text-align: right;
}

.ListTableStaticWidthCell
{
    width: 60px;
}

.datePanel
{
    width: 555px;
}

.hoverLinkCheckBox
{
    color: #C0C0C0;
}

.filterTable
{
    font-weight: bold;
    color: Black;
    border: 1px;
    border-top: 0px;
    border-style: groove;
    border-width: 2px;
    border-color: Blue;
    min-width: 100%;
}

table.entityreport
{
    border-collapse: collapse;
    width: 900px;
    color: Black;
}

table.entityreport, th.entityreport, td.entityreport
{
    border: 1px solid black;
}

#VisibleOnHover
{
}

    #VisibleOnHover span
    {
        visibility: hidden;
    }

    #VisibleOnHover:hover span
    {
        visibility: visible;
    }*/

/*#VisibleOnHoverLink
{
    float: left;
    padding-left: inherit;
}

    #VisibleOnHoverLink a
    {
        visibility: hidden;
    }

    #VisibleOnHoverLink:hover a
    {
        visibility: visible;
    }

     #VisibleOnHoverLink div
    {
        visibility: hidden;
    }

    #VisibleOnHoverLink:hover div
    {
        visibility: visible;
        cursor:pointer;
    }*/

/*.maintable
{
    width: 100%;
}*/

/*.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

    .header h1
    {
        font-weight: 700;
        margin: 0px;
        padding: 0px 0px 0px 20px;
        color: #f9f9f9;
        border: none;
        line-height: 2em;
        font-size: 2em;
    }*/

/*.main
{*/
    /* padding: 0px 12px;
    margin: 12px 8px 8px 8px; */
    /*min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

.greyedtextbox
{
    background-color: #F2F2F2;
    color: Black;
}*/


/* CONTENT STYLES   
----------------------------------------------------------*/

/*.divContainerLarge
{
    font-size: 12px;
    padding: 10px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    text-align: center;
}

.divContainerTitle
{
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    background-color: #d8dfea;
}

.ActivityHeader
{
    color: #4b6c9e;
    position: relative;
    top: 20px;
    text-align: right;
    left: 400px;
    width: 550px;
}

.AlertSeparator
{
    border-top: solid 1px #000000;
    padding-top: 5px;
    padding-bottom: 5px;
}*/

/* PROFILE STYLES */
/*.ProfileName
{
    font-size: 20px;
    top: 20px;
    font-family: Arial;
    font-weight: normal;
    color: #4b6c9e;
}*/

/* TAB MENU   
----------------------------------------------------------*/

/*.hideSkiplink div
{
    background-color: #3a4f63;
    width: 100%;
}

.hideSkiplink table
{
    border-collapse: collapse;*/ /* 'cellspacing' equivalent */
/*}

    .hideSkiplink table td, .hideSkiplink table th
    {
        padding: 0;*/ /* 'cellpadding' equivalent */
    /*}*/


/* FORM ELEMENTS   
----------------------------------------------------------*/

/*fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

    fieldset p
    {
        margin: 2px 12px 10px 10px;
    }

    fieldset.login label, fieldset.register label, fieldset.changePassword label
    {
        display: block;
    }

    fieldset label.inline
    {
        display: inline;
    }

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}*/

/* MISC  
----------------------------------------------------------*/

/*.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

    .loginDisplay a:link
    {
        color: white;
    }

    .loginDisplay a:visited
    {
        color: white;
    }

    .loginDisplay a:hover
    {
        color: white;
    }

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.ralabel
{
    text-align: right;
    width: 100px;
}

.lalabel
{
    text-align: left;
}

.smallfontgrid
{
    font-size: 12px;
}

.mediumfontgrid
{
    font-size: 14px;
}

.largerfontgrid
{
    font-size: 16px;
}

.ContentFooterLink
{
    text-decoration: none;
    padding-right: 10px;
}

.DetailControlBorder
{
    border: 2px;
    border-color: Blue;
    border-width: 2px;
    border-style: groove;
}

.DetailControlNoBorder
{
}

.divider
{
    width: auto;
    height: 3px;
    display: inline-block;
}

#gridContainer * a
{
    text-decoration: none !important;
}

.popup_Titlebar
{*/
    /*background: url(/Images/titlebar_bg.jpg);*/
    /*background-color: #465c71;
    height: 29px;
}

.popup_Body
{*/
    /*padding:15px 15px 15px 15px;*/
    /*font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    line-height: 15pt;
    clear: both;
    border: #465c71 solid 3px;*/ /*padding:20px;*/
/*}

.TitlebarLeft
{
    float: left;
    padding-left: 5px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
}

.TitlebarRight
{
    background: url(/Images/cross_icon_normal.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 15px;
    width: 16px;
    float: right;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
}


.flat a, .flat a:after
{
    background: white;
    color: black;
    transition: all 0.5s;
}

    .flat a:before
    {
        background: white;
        box-shadow: 0 0 0 1px #ccc;
    }

    .flat a:hover, .flat a.active, .flat a:hover:after, .flat a.active:after
    {
        background: #9EEB62;
    }*/

/*div.newClass1
{
    padding: 4px 0px 4px 8px;
}

    div.newClass1 ul
    {
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: auto;
        z-index: 999;
    }

        div.newClass1 ul li a:active
        {
            background-color: #465c71;
            color: #cfdbe6;
            text-decoration: none;
        }

        div.newClass1 ul li a, div.newClass1 ul li a:visited
        {
            display: block;
            line-height: 1.35em;
            padding: 4px 20px;
            text-decoration: none;
            white-space: nowrap;
            color: #050505;
            background-color: #FCFEFF;
            font-size: 12px;
        }

        div.newClass1 ul li a:hover
        {
            color: #465c71;
            text-decoration: none;
            background-color: #CCFFFF;
        }

.gridContainer
{
    font-size: 12px !important;
}

.activePage
{
    color: orange;
    cursor: default;
}

.jcarousel-pagination .activePage
{
    color: orange;
    cursor: default;
}

.divReleaseNotes
{
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    padding: 5px;
    background-color: #d8dfea;
}

.ui-tabs-panel
{
    padding: 1em 0em !important;
}

.table
{
    display: table;
    width: 100%;
}

.row > *
{
    display: table-row;
    width: 150px;*/
    /*border: 1px solid #000000;*/
/*}

.rowRN > *
{
    display: table-row;
    width: 150px;
    background-color: #CCFFFF;*/
    /*border: 1px solid #000000;*/
/*}

.rowActive > *
{
    display: table-row;
    width: 150px;
    background-color: #D0D0D0;*/
    /*border: 1px solid #000000;*/
/*}

.rowAlternate > *
{
    display: table-row;
    width: 150px;
    background-color: #FFFFFF;*/
    /*border: 1px solid #000000;*/
/*}

.cell
{
    display: table-cell;
    width: 135px;
    border: 1px solid #000000;
    text-align: right;
}

.row head
{
    text-align: center;
    font-weight: bold;
    width: 150px;
    background-color: #d8dfea;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.fullwidth-cell
{*/
    /* OPTION 1 */
    /*display: block;*/ /* or without display definition */
    /* OPTION 2 */
    /*display: table-cell;
    width: 100%;
}*/

/*.bold-label
{
    font-weight: bolder;
}*/

/*.borderless
{
    border: none;
}

.tab-header
{
    background-color: yellow;
    width: 100%;
    margin: 5px 0px;
}


.padding
{
  padding-right:10px;
 
}

table 
{
    width: 100%;
}*/