<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ include file=".\..\..\..\..\_Generators\AngularUI\EntityListTableViewGeneratorHelper.tt" #>
<#
	this.RenderListTableViews(new string[]{"AccidentPlace","AccidentReport","ActivitySubType" 
			,"BathRoom","Discount","PaymentMethod","Comment", "ActivityType", "DiaperStatus", "EventType", 
			"MealType", "NeedItem","Meal","MealDetail",	"SickReport","Tuition",	"Sleep","Student","Teacher"});
#>