<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ include file=".\..\..\..\..\_Generators\AngularUI\EntitySaveViewGeneratorHelper.tt" #>
<#
	this.RenderSaveViews(new string[]{
	"AccidentPlace"
	,"AccidentReport"
	, "ActivityType"
	,"ActivitySubType" 
	,"BathRoom"
	,"Discount"
	,"PaymentMethod"
	,"Comment"
	,"DiaperStatus"
	, "EventType"
	, "MealType"
	, "NeedItem"
	,"Meal"
	,"MealDetail"
	,	"SickReport"
	,"Tuition"
	,	"Sleep"
	,"Student"
	,"Teacher"
	});
#>