<ol class='breadcrumb'>
	<li class='active'>Tuition Details</li>
</ol>

<nav class='navbar navbar-default'>
	<ul class='nav navbar-nav'>
		<li><a data-ng-href='#/{{Tuition}}/search' title='Back'><span class='glyphicon glyphicon-circle-arrow-left'></span>Back</a></li>
		<li><a data-ng-click='save();'><span class='glyphicon glyphicon-floppy-disk'></span>Save</a></li>
		<li><a data-ng-click='delete();'><span class='glyphicon glyphicon-remove'></span>Delete</a></li>
	</ul>
</nav>

<div class='form-horizontal'>

	<div class='form-group'>
		<label for='SummaryCode' class='col-sm-2 control-label'>Tuition Id:</label>
		<div class='col-sm-10'>
			<input type='text' class='form-control' name='SummaryCode' ng-disabled='true' placeholder='Id' data-ng-model='EntityItem.Id'>
		</div>
	</div>

	<div class='form-group'>
		<label for='Name' class='col-sm-2 control-label'>Name:</label>
		<div class='col-sm-10'>
			<input type='text' class='form-control' id='Name' placeholder='Name' data-ng-model='EntityItem.Name'>
		</div>
	</div>

	<div class='form-group'>
		<label for='Description' class='col-sm-2 control-label'>Description:</label>
		<div class='col-sm-10'>
			<textarea class='form-control' id='Description' rows='2' ng-model='EntityItem.Description'></textarea>
		</div>
	</div>

	<div class='form-group'>
		<label for='ActiveStatusCode' class='col-sm-2 control-label'>Sort Order:</label>
		<div class='col-sm-10'>
			<input type='text' class='form-control' id='ActiveStatusCode' placeholder='Sort Order' data-ng-model='EntityItem.SortOrder'>
		</div>
	</div>

</div>
