<#@ template language="C#" hostspecific="True" #>
<#@ 
	include file="../../../../Generators/Generators.Components/DataModelGeneratorHelper.tt" 
#>
<#
this.GenerateDataModelFiles(	"DataModel.TaskTimeTracker.Competency",
								new [] {"Competency", "Skill", "SkillLevel"} 

							);
#>