<#@ template language="C#" hostspecific="True" #>
<#@ assembly name="$(TargetDir)\Framework.Components.DataAccess.dll" #>
<#@ assembly name="$(TargetDir)\DataModel.CapitalMarkets.dll" #>
<#@ 
	include file="../../../../../Generators/Generators.SQL/SQLNonStandardEntity/EntitySqlGeneratorHelper.tt"
#>
<#
	this.GenerateSqlFiles("DataModel.CapitalMarkets", "TxInvestment", "TxInvestmentDataModel", "CapitalMarketsSecurityMaster", "706", "Welcome1");
#>
