
<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ assembly name="$(TargetDir)\DataModel.DayCare.dll" #>

<#@ include file="../../../Generators/Generators.Components/NonStdEntityDataManagerGeneratorHelper.tt" #>


<#
this.GenerateNonStandardDataManagerFiles(	"DayCare.Components.BusinessLayer", 
											"DataModel.DayCare",
											new [] 
											{
												"Department",
												"Course",
												"Registration"
 											}, 
											false 
										);
#>
