<#@ template language="C#" hostspecific="True" #>
<#@ assembly name="$(TargetDir)\Framework.Components.DataAccess.dll" #>
<#@ assembly name="$(TargetDir)\DataModel.CapitalMarkets.dll" #>
<#@ output extension=".sql" #>
<#@ 
	include file="../../../../../Generators/Generators.SQL/SQLNonStandardEntity/EntitySqlGeneratorHelper.tt"     
#>
<#
	this.GenerateSqlFiles("DataModel.CapitalMarkets", "PortfolioXCustodianAccount", "PortfolioXCustodianAccountDataModel", "CapitalMarketsSecurityMaster", "706", "Welcome1", true);
#>