@model List<DataModel.TaskTimeTracker.TimeTracking.ScheduleDetailActivityCategoryDataModel>
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>scheduleDetailActivityCategory</legend>
    @Html.DisplayFor(Model => Model)     
</fieldset>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = @Model.scheduleDetailActivityCategoryId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
