@model List<Framework.Components.ReleaseLog.DomainModel.ReleaseNoteDeveloperValueDataModel>
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>ReleaseNoteDeveloperValue</legend>

       @Html.DisplayFor(Model => Model)        
        <p>
            <input type="submit" value="Delete" />
        </p>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
