<#@ template language="C#" hostspecific="True" #>
<#@ 
	include file="../../../../../Generators/Generators.SQL/SQLStandardEntity/EntitySqlGeneratorHelper.tt"
#>
<#
	this.GenerateSqlFiles("DataModel.CapitalMarkets", "AccountingCalender", "AccountingCalenderDataModel", "CapitalMarketsSecurityMaster", "706", "Welcome1");
#>