<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StartupApplicationId" value="100" />   
  </appSettings>
   <connectionStrings>
    <add name="Configuration" connectionString="Data Source=IVR-SQL-01\SQL01;Initial Catalog=Configuration;Persist Security Info=True;User ID=706;Password=Welcome1;Connect Timeout=0" providerName="System.Data.SqlClient" />
    <add name="LoggingAndTrace" connectionString="Data Source=IVR-SQL-01\SQL01;Initial Catalog=LoggingAndTrace;Persist Security Info=True;User ID=706;Password=Welcome1;Connect Timeout=0" providerName="System.Data.SqlClient" />
  </connectionStrings>
 
  <startup>
  </startup>
</configuration>