<#@ template language="C#" hostspecific="True" #>
<#@ 
	include file="../../../../Generators/Generators.SQL/SQLStandardEntity/EntitySqlGeneratorHelper.tt"
#>
<#
	//this.GenerateSqlFiles("DataModel.DayCare", "Continent", "ContinentDataModel", "Location", "706", "Welcome1");
	this.GenerateSqlFiles("DataModel.ReferenceData", "Calendar", "CalendarDataModel", "Calendar", "706", "Welcome1");
#>