<#@ template language="C#" hostspecific="True" #>
<#@ 
	include file="../../../../Generators/Generators.Components/DataModelGeneratorHelper.tt" 
#>
<#
this.GenerateDataModelFiles(	"DataModel.TaskTimeTracker.Task",
								new [] {"TaskStatusType", "TaskType", "TaskNote", "TaskRole"} 

							);
#>