
@model List<DataModel.TaskTimeTracker.TimeTracking.DailyTaskItemQueueDataModel>
@{
	ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm())
{
<fieldset>
        <legend>.Daily Task Item Queue</legend>

       @Html.DisplayFor(Model => Model)        
        <p>
            <input type="submit" value="Delete" />
        </p>

    </fieldset>}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
