<#@ template language="C#" hostspecific="True" #>
<#@ 
	include file="../../../../Generators/Generators.Components/DataModelGeneratorHelper.tt" 
#>
<#
this.GenerateDataModelFiles(	"DataModel.TaskTimeTracker.TimeTracking",
								new [] {"ScheduleState", "ScheduleDetailActivityCategory","QuestionCategory", "ActivityState",
								"CustomTimeCategory", "TaskAlgorithm"} 
							);
#>
