<#@ template language="C#" hostspecific="True" #><#@ assembly name="$(TargetDir)\DataModel.CapitalMarkets.dll" #>
<#@ assembly name="$(TargetDir)\DataModel.CapitalMarkets.dll" #>

<#@ output extension=".sql" #> 
<#@ 
	include file="../../../../../Generators/Generators.SQL/SQLNonStandardEntity/EntitySqlGeneratorHelper.tt"     
#>
<#  
	this.GenerateSqlFiles("DataModel.CapitalMarkets", "OrderType", "OrderTypeDataModel", "CapitalMarketsSecurityMaster", "706", "Welcome1");
#> 