<#@ template language="C#" hostspecific="True" #>
<#@ assembly name="$(TargetDir)\DataModel.CapitalMarkets.dll" #>
<#@ 
	include file="../../../../../Generators/Generators.SQL/SQLStandardEntity/EntitySqlGeneratorHelper.tt"
#>
<#
	this.GenerateSqlFiles("DataModel.CapitalMarkets", "MarketCapitalizationCategory", "MarketCapitalizationCategoryDataModel", "CapitalMarketsSecurityMaster", "706", "Welcome1");
#>