<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ include file=".\..\..\..\..\_Generators\AngularUI\EntityServiceJsGeneratorHelper.tt" #>
<#
	this.RenderServices(new string[]{"accidentPlace", "accidentReport", "activityType","activitySubType" ,"bathRoom","discount","paymentMethod","comment", "diaperStatus", "eventType", 
			"mealType", "needItem","meal","mealDetail","sickReport","tuition","sleep","student","teacher"});
#>