<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.42" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Log4Net-Mongo" version="0.2.1" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net45" />
  <package id="MongoDB.Bson" version="2.2.1" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.2.1" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.2.1" targetFramework="net45" />
  <package id="MongoRepository" version="1.6.8" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
</packages>