@model List<Framework.Components.ReleaseLog.DomainModel.DevelopmentCategoryDataModel>
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DevelopmentCategory</legend>
    @Html.DisplayFor(Model => Model)     
</fieldset>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = @Model.DevelopmentCategoryId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
