<div class="col-xs-12">
	<h4 class="accordion-toggle expanded" data-toggle="collapse" data-target="#header-translations" data-parent="#language-accordion">This page is also available in</h4>
</div>
<div class="accordion-panel in" id="header-translations">
	<div class="col-xs-3">
		<ul class="AsiaPacific">
			<li>
				<h4>Asia Pacific</h4>
			</li>
			<li class="lang-option en_xa hidden"><a class="en_xa" href="http://www.intel.com/content/www/xa/en/homepage.html">Asia Pacific (English)</a></li>
			<li class="lang-option au_en hidden"><a class="au_en" href="http://www.intel.com.au/content/www/au/en/homepage.html">Australia (English)</a></li>
			<li class="lang-option zh_cn"><a class="zh_cn" href="/zh-cn/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">China (简体中文)</a></li>
			<li class="lang-option en_hk hidden"><a class="en_hk" href="http://www.intel.hk/content/www/hk/en/homepage.html">Hong Kong (English)</a></li>
			<li class="lang-option en_in hidden"><a class="en_in" href="http://www.intel.in/content/www/in/en/homepage.html">India (English)</a></li>
			<li class="lang-option hi_in hidden"><a class="hi_in" href="http://www.intel.in/content/www/in/hi/homepage.html">India (हिंदी)</a></li>
			<li class="lang-option id_id"><a class="id_id" href="/id/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Indonesia (Bahasa Indonesia)</a></li>
			<li class="lang-option ja_jp"><a class="ja_jp" href="/ja/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Japan (日本語)</a></li>
			<li class="lang-option ko_kr"><a class="ko_kr" href="/ko/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Korea (한국어)</a></li>
			<li class="lang-option en_my hidden"><a class="en_my" href="http://www.intel.my/content/www/my/en/homepage.html">Malaysia (English)</a></li>
			<li class="lang-option en_nz hidden"><a class="en_nz" href="http://www.intel.co.nz/content/www/nz/en/homepage.html">New Zealand (English)</a></li>
			<li class="lang-option en_pk hidden"><a class="en_pk" href="http://www.intel.pk/content/www/pk/en/homepage.html">Pakistan (English)</a></li>
			<li class="lang-option en_ph hidden"><a class="en_ph" href="http://www.intel.ph/content/www/ph/en/homepage.html">Philippines (English)</a></li>
			<li class="lang-option en_sg hidden"><a class="en_sg" href="http://www.intel.com/content/www/xa/en/homepage.html">Singapore (English)</a></li>
			<li class="lang-option zh_tw"><a class="zh_tw" href="/zh-tw/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Taiwan (繁體中文)</a></li>
			<li class="lang-option th_th"><a class="th_th" href="/th/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Thailand (ไทย)</a></li>
			<li class="lang-option vi_vn"><a class="vi_vn" href="/vi/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Vietnam (Tiếng Việt)</a></li>
		</ul>
	</div>
	<div class="col-xs-3">
		<ul class="Europe">
			<li>
				<h4>Europe</h4>
			</li>
			<li class="lang-option en_eu hidden"><a class="en_eu" href="http://www.intel.eu/content/www/eu/en/homepage.html">Europe (English)</a></li>
			<li class="lang-option fr_fr"><a class="fr_fr" href="/fr/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">France (Français)</a></li>
			<li class="lang-option de_de"><a class="de_de" href="/de/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Germany (Deutsch)</a></li>
			<li class="lang-option en_ie hidden"><a class="en_ie" href="http://www.intel.ie/content/www/ie/en/homepage.html">Ireland (English)</a></li>
			<li class="lang-option it_it"><a class="it_it" href="/it/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Italy (Italiano)</a></li>
			<li class="lang-option nl_nl"><a class="nl_nl" href="/nl/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Netherlands (Nederlands)</a></li>
			<li class="lang-option pl_pl"><a class="pl_pl" href="/pl/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Poland (Polski)</a></li>
			<li class="lang-option ru_ru"><a class="ru_ru" href="/ru/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Russia (Русский)</a></li>
			<li class="lang-option es_es"><a class="es_es" href="/es-es/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Spain (Español)</a></li>
			<li class="lang-option sv_se"><a class="sv_se" href="/sv/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Sweden (Svenska)</a></li>
			<li class="lang-option de_ch"><a class="de_ch" href="/de/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Switzerland (Deutsch)</a></li>
			<li class="lang-option tr_tr"><a class="tr_tr" href="/tr/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Turkey (Türkçe)</a></li>
			<li class="lang-option uk_ua hidden"><a class="uk_ua" href="http://www.intel.ua/content/www/ua/uk/homepage.html">Ukraine (Українська)</a></li>
			<li class="lang-option en_uk hidden"><a class="en_uk" href="http://www.intel.co.uk/content/www/uk/en/homepage.html">United Kingdom (English)</a></li>
		</ul>
	</div>
	<div class="col-xs-3">
		<ul class="LatinAmerica">
			<li>
				<h4>Latin America</h4>
			</li>
			<li class="lang-option es_ar"><a class="es_ar" href="/es/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Argentina (Español)</a></li>
			<li class="lang-option es_bo"><a class="es_bo" href="/es/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Bolivia (Español)</a></li>
			<li class="lang-option pt_br"><a class="pt_br" href="/pt-br/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Brazil (Português)</a></li>
			<li class="lang-option es_cl"><a class="es_cl" href="/es/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Chile (Español)</a></li>
			<li class="lang-option es_co"><a class="es_co" href="/es/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Colombia (Español)</a></li>
			<li class="lang-option es_cr"><a class="es_cr" href="/es/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Costa Rica (Español)</a></li>
			<li class="lang-option es_xl"><a class="es_xl" href="/es/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Latin America (Español)</a></li>
			<li class="lang-option es_mx"><a class="es_mx" href="/es/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Mexico (Español)</a></li>
			<li class="lang-option es_pe"><a class="es_pe" href="/es/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Peru (Español)</a></li>
			<li class="lang-option es_uy"><a class="es_uy" href="/es/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Uruguay (Español)</a></li>
			<li class="lang-option es_ve"><a class="es_ve" href="/es/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Venezuela (Español)</a></li>
		</ul>
	</div>
	<div class="col-xs-3 hidden">
		<ul class="MiddleEast">
			<li>
				<h4>Middle East/Africa</h4>
			</li>
			<li class="lang-option ar_dz hidden"><a class="ar_dz" href="http://www.intel.dz/content/www/dz/ar/homepage.html">Algeria (اللغة العربية)</a></li>
			<li class="lang-option ar_fr hidden"><a class="ar_fr" href="http://www.intel.dz/content/www/dz/fr/homepage.html">Algeria (Français)</a></li>
			<li class="lang-option ar_eg hidden"><a class="ar_eg" href="http://www.intel.eg/content/www/eg/ar/homepage.html">Egypt (ة العربية)</a></li>
			<li class="lang-option en_eg hidden"><a class="en_eg" href="http://www.intel.eg/content/www/eg/en/homepage.html">Egypt (English)</a></li>
			<li class="lang-option he_il hidden"><a class="he_il" href="http://www.intel.co.il/content/www/il/he/homepage.html">Israel (עברית)</a></li>
			<li class="lang-option xr_ar hidden"><a class="xr_ar" href="http://www.intel.com/content/www/xr/ar/homepage.html">Middle East (اللغة العربية)</a></li>
			<li class="lang-option en_xr hidden"><a class="en_xr" href="http://www.intel.com/content/www/xr/en/homepage.html">Middle East (English)</a></li>
			<li class="lang-option ar_ma hidden"><a class="ar_ma" href="http://www.intel.ma/content/www/ma/ar/homepage.html">Morocco (اللغة العربية)</a></li>
			<li class="lang-option fr_ma hidden"><a class="fr_ma" href="http://www.intel.ma/content/www/ma/fr/homepage.html">Morocco (Français)</a></li>
			<li class="lang-option ar_sa hidden"><a class="ar_sa" href="http://www.intel.sa/content/www/sa/ar/homepage.html">Saudi Arabia (اللغة العربية)</a></li>
			<li class="lang-option en_sa hidden"><a class="en_sa" href="http://www.intel.sa/content/www/sa/en/homepage.html">Saudi Arabia (English)</a></li>
			<li class="lang-option en_za hidden"><a class="en_za" href="http://www.intel.co.za/content/www/za/en/homepage.html">South Africa (English)</a></li>
			<li class="lang-option ar_ae hidden"><a class="ar_ae" href="http://www.intel.co.ae/content/www/ae/ar/homepage.html">United Arab Emirates (اللغة العربية)</a></li>
			<li class="lang-option en_ae hidden"><a class="en_ae" href="http://www.intel.co.ae/content/www/ae/en/homepage.html">United Arab Emirates (English)</a></li>
		</ul>
	</div>
	<div class="col-xs-3">
		<ul class="NorthAmerica">
			<li>
				<h4>North America</h4>
			</li>
			<li class="lang-option en_us"><a class="en_us" href="/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">United States (English)</a></li>
			<li class="lang-option en_ca hidden"><a class="en_ca" href="http://www.intel.ca/content/www/ca/en/homepage.html">Canada (English)</a></li>
			<li class="lang-option fr_ca"><a class="fr_ca" href="/fr/products/82932/Intel-Core-i7-5820K-Processor-15M-Cache-up-to-3_60-GHz">Canada (Français)</a></li>
		</ul>
	</div>
</div>