<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ include file="../../../../Generators/Generators.Components/DataManagerGeneratorHelper.tt" #>
<#
this.GenerateDataManagerFiles(	"TestCaseManagement.Components.DataAccess", 
								"DataModel.TestCaseManagement",
								new [] {"TestCase", "TestCaseOwner", "TestCasePriority", "TestCaseStatus", "TestRun", "TestSuite" } 
							);
#>
