<#@ template language="C#" hostspecific="True" #>
<#@ 
	include file="../../../../../Generators/Generators.SQL/SQLStandardEntity/EntitySqlGeneratorHelper.tt"  
#>
<#
	this.GenerateSqlFiles("DataModel.DayCare", "Course", "CourseDataModel","DayCare","706","Welcome1");
#>