<style type="text/css">
	a:link, a:visited, a:active, a:hover
	{
		color: black;
		text-decoration: none;        
	}
	.menu-item
	{
		text-decoration: none;
		display: block;
		padding: 2px .4em;
		line-height: 1.5;
		min-height: 0; /* support: IE7 */
		font-weight: normal;
	}
</style>

<li  class="menu-item">&nbsp;<a href="/PMT/PMT/Home">Project Management</a></li>

<li class="menu-item">&nbsp;<a href="/CapitalMarkets/Home">Capital Markets</a></li>

<li class="menu-item">&nbsp;<a href="/DayCare/Home">Day Care</a></li>

<li  class="menu-item">&nbsp;<a href="/TE/TE/Home">Time Entry</a></li>

<li class="menu-item">&nbsp;<a href="/PDTMGMDEVT/PDTMGMDEVT/Home">Product Management</a></li>

<li  class="menu-item">&nbsp;<a href="/Legal/Home">Legal</a></li>

<li class="menu-item">&nbsp;<a href="/ReferenceData/Home">Reference Data</a></li>

<li class="menu-item">&nbsp;<a href="/Prototype/Prototype/Home">Prototype</a></li>

<li class="menu-item">&nbsp;<a href="/SA/SA/Home">System Administration</a></li>

<!--<li class="menu-item">&nbsp;<a href="/ApplicationAdministration/Home">App Administration</a></li>-->
