<div class="col-xs-12">
	<h4 class="accordion-toggle" data-toggle="collapse" data-target="#home-redirects" data-parent="#language-accordion">Go to your Country or Location's Homepage</h4>
</div>
<div class="accordion-panel collapse" id="home-redirects">
	<div class="col-xs-3">
		<ul>
			<li>
				<h4>Asia Pacific</h4>
			</li>
			<li class="lang-option"><a href="http://www.intel.com/content/www/xa/en/homepage.html" data-locale="en_xa">Asia Pacific (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.com.au/content/www/au/en/homepage.html" data-locale="en_au">Australia (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.cn/content/www/cn/zh/homepage.html" data-locale="zh_cn">China (简体中文)</a></li>
			<li class="lang-option"><a href="http://www.intel.hk/content/www/hk/en/homepage.html" data-locale="en_hk">Hong Kong (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.in/content/www/in/en/homepage.html" data-locale="en_in">India (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.co.id/content/www/id/id/homepage.html" data-locale="id_id">Indonesia (Bahasa Indonesia)</a></li>
			<li class="lang-option"><a href="http://www.intel.co.jp/content/www/jp/ja/homepage.html" data-locale="ja_jp">Japan (日本語)</a></li>
			<li class="lang-option"><a href="http://www.intel.co.kr/content/www/kr/ko/homepage.html" data-locale="ko_kr">Korea (한국어)</a></li>
			<li class="lang-option"><a href="http://www.intel.my/content/www/my/en/homepage.html" data-locale="en_my">Malaysia (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.co.nz/content/www/nz/en/homepage.html" data-locale="en_nz">New Zealand (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.pk/content/www/pk/en/homepage.html" data-locale="en_pk">Pakistan (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.ph/content/www/ph/en/homepage.html" data-locale="en_ph">Philippines (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.com/content/www/xa/en/homepage.html" data-locale="en_xa">Singapore (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.com.tw/content/www/tw/zh/homepage.html" data-locale="zh_tw">Taiwan (繁體中文)</a></li>
			<li class="lang-option"><a href="http://thailand.intel.com/content/www/th/th/homepage.html" data-locale="th_th">Thailand (ไทย)</a></li>
			<li class="lang-option"><a href="http://www.intel.vn/content/www/vn/vi/homepage.html" data-locale="vi_vn">Vietnam (Tiếng Việt)</a></li>
		</ul>
	</div>
	<div class="col-xs-3">
		<ul>
			<li>
				<h4>Europe</h4>
			</li>
			<li class="lang-option"><a href="http://www.intel.eu/content/www/eu/en/homepage.html" data-locale="en_eu">Europe (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.fr/content/www/fr/fr/homepage.html" data-locale="fr_fr">France (Français)</a></li>
			<li class="lang-option"><a href="http://www.intel.de/content/www/de/de/homepage.html" data-locale="de_de">Germany (Deutsch)</a></li>
			<li class="lang-option"><a href="http://www.intel.ie/content/www/ie/en/homepage.html" data-locale="en_ie">Ireland (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.it/content/www/it/it/homepage.html" data-locale="it_it">Italy (Italiano)</a></li>
			<li class="lang-option"><a href="http://www.intel.nl/content/www/nl/nl/homepage.html" data-locale="nl_nl">Netherlands (Nederlands)</a></li>
			<li class="lang-option"><a href="http://www.intel.pl/content/www/pl/pl/homepage.html" data-locale="pl_pl">Poland (Polski)</a></li>
			<li class="lang-option"><a href="http://www.intel.ru/content/www/ru/ru/homepage.html" data-locale="ru_ru">Russia (Русский)</a></li>
			<li class="lang-option"><a href="http://www.intel.es/content/www/es/es/homepage.html" data-locale="es_es">Spain (Español)</a></li>
			<li class="lang-option"><a href="http://www.intel.se/content/www/se/sv/homepage.html" data-locale="sv_se">Sweden (Svenska)</a></li>
			<li class="lang-option"><a href="http://www.intel.ch/content/www/ch/de/homepage.html" data-locale="de_ch">Switzerland (Deutsch)</a></li>
			<li class="lang-option"><a href="http://www.intel.com.tr/content/www/tr/tr/homepage.html" data-locale="tr_tr">Turkey (Türkçe)</a></li>
			<li class="lang-option"><a href="http://www.intel.ua/content/www/ua/uk/homepage.html" data-locale="uk_ua">Ukraine (Українська)</a></li>
			<li class="lang-option"><a href="http://www.intel.co.uk/content/www/uk/en/homepage.html" data-locale="en_uk">United Kingdom (English)</a></li>
		</ul>
	</div>
	<div class="col-xs-3">
		<ul>
			<li>
				<h4>Latin America</h4>
			</li>
			<li class="lang-option"><a href="http://www.intel.la/content/www/xl/es/homepage.html" data-locale="es_xl">Argentina (Español)</a></li>
			<li class="lang-option"><a href="http://www.intel.la/content/www/xl/es/homepage.html" data-locale="es_xl">Bolivia (Español)</a></li>
			<li class="lang-option"><a href="http://www.intel.com.br/content/www/br/pt/homepage.html" data-locale="pt_br">Brazil (Português)</a></li>
			<li class="lang-option"><a href="http://www.intel.la/content/www/xl/es/homepage.html" data-locale="es_xl">Chile (Español)</a></li>
			<li class="lang-option"><a href="http://www.intel.la/content/www/xl/es/homepage.html" data-locale="es_xl">Colombia (Español)</a></li>
			<li class="lang-option"><a href="http://www.intel.la/content/www/xl/es/homepage.html" data-locale="es_xl">Costa Rica (Español)</a></li>
			<li class="lang-option"><a href="http://www.intel.la/content/www/xl/es/homepage.html" data-locale="es_xl">Latin America (Español)</a></li>
			<li class="lang-option"><a href="http://www.intel.la/content/www/xl/es/homepage.html" data-locale="es_xl">Mexico (Español)</a></li>
			<li class="lang-option"><a href="http://www.intel.la/content/www/xl/es/homepage.html" data-locale="es_xl">Peru (Español)</a></li>
			<li class="lang-option"><a href="http://www.intel.la/content/www/xl/es/homepage.html" data-locale="es_xl">Uruguay (Español)</a></li>
			<li class="lang-option"><a href="http://www.intel.la/content/www/xl/es/homepage.html" data-locale="es_xl">Venezuela (Español)</a></li>
		</ul>
	</div>
	<div class="col-xs-3">
		<ul>
			<li>
				<h4>Middle East/Africa</h4>
			</li>
			<li class="lang-option"><a href="http://www.intel.dz/content/www/dz/ar/homepage.html" data-locale="ar_dz">Algeria (اللغة العربية)</a></li>
			<li class="lang-option"><a href="http://www.intel.dz/content/www/dz/fr/homepage.html" data-locale="fr_dz">Algeria (Français)</a></li>
			<li class="lang-option"><a href="http://www.intel.eg/content/www/eg/ar/homepage.html" data-locale="ar_eg">Egypt (اللغة العربية)</a></li>
			<li class="lang-option"><a href="http://www.intel.eg/content/www/eg/en/homepage.html" data-locale="en_eg">Egypt (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.co.il/content/www/il/he/homepage.html" data-locale="he_il">Israel (עברית)</a></li>
			<li class="lang-option"><a href="http://www.kenya.intel.com/content/www/ke/en/homepage.html" data-locale="en_ke">Kenya (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.com/content/www/xr/ar/homepage.html" data-locale="ar_xr">Middle East (اللغة العربية)</a></li>
			<li class="lang-option"><a href="http://www.intel.com/content/www/xr/en/homepage.html" data-locale="en_xr">Middle East (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.ma/content/www/ma/ar/homepage.html" data-locale="ar_ma">Morocco (اللغة العربية)</a></li>
			<li class="lang-option"><a href="http://www.intel.ma/content/www/ma/fr/homepage.html" data-locale="fr_ma">Morocco (Français)</a></li>
			<li class="lang-option"><a href="http://www.intel.ng/content/www/ng/en/homepage.html" data-locale="en_ng">Nigeria (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.sa/content/www/sa/ar/homepage.html" data-locale="ar_sa">Saudi Arabia (اللغة العربية)</a></li>
			<li class="lang-option"><a href="http://www.intel.sa/content/www/sa/en/homepage.html" data-locale="en_sa">Saudi Arabia (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.co.za/content/www/za/en/homepage.html" data-locale="en_za">South Africa (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.co.ae/content/www/ae/ar/homepage.html" data-locale="ar_ae">United Arab Emirates<br>
										(اللغة العربية)</a></li>
			<li class="lang-option"><a href="http://www.intel.co.ae/content/www/ae/en/homepage.html" data-locale="en_ae">United Arab Emirates (English)</a></li>
		</ul>
	</div>
	<div class="col-xs-3">
		<ul>
			<li>
				<h4>
					<br>
					North America</h4>
			</li>
			<li class="lang-option"><a href="http://www.intel.com/content/www/us/en/homepage.html" data-locale="en_us">United States (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.ca/content/www/ca/en/homepage.html" data-locale="en_ca">Canada (English)</a></li>
			<li class="lang-option"><a href="http://www.intel.ca/content/www/ca/fr/homepage.html" data-locale="fr_ca">Canada (Français)</a></li>
		</ul>
	</div>
</div>