<#@ template language="C#" hostspecific="True" #>
<#@ 
	include file="../../../../../Generators/Generators.SQL/SQLStandardEntity/EntitySqlGeneratorHelper.tt"  
#>
<#
	this.GenerateSqlFiles("DataModel.DayCare", "Comment", "CommentDataModel","DayCare","706","Welcome1");
#>