<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ assembly name="$(TargetDir)\DataModel.CapitalMarkets.dll" #>
<#@ include file="../../../Generators/Generators.Components/DataModelColumnGeneratorHelper.tt" 
#>
<#
	this.GenerateDataModelFiles
	( 
		"DataModel.CapitalMarkets",	
		new [] 
		{	  	 
				"PerformanceKey"
			,	"PerformanceParameters"
			,	"TWRBatchProcessing"
			,	"TWRSet"

		} 
	);
#>
 