<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ include file="../../../Generators/Generators.Components/DataManagerGeneratorHelper.tt" #>
<#
this.GenerateDataManagerFiles(	"TaskTimeTracker.Components.Module.RiskReward", 
								"DataModel.TaskTimeTracker.RiskReward",
								new [] {"Reward", "Risk"} 
							);
#>
