<#@ template language="C#" hostspecific="True" #>
<#@ 
	include file="../../EntitySqlGeneratorHelper.tt" 
#>
<#
	this.GenerateSqlFiles("DataModel.DayCare", "WorkCategory", "WorkCategoryDataModel");
#>