

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        .tableCellBorder {
            border-style: ##CellTableBorder##;
            border-width: ##CellTableWidth##;
        }

        table, th, td {
            border: 1px solid black;
            padding: 2px !important;
        }

        th {
            background-color: #337ab7;
            color: white;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body>
    <table class="tableCellBorder">
        <tr>
            <td class="tableCellBorder">
                <table class="tableCellBorder">
                    <tr>
                        <td align='center' class="tableCellBorder">Database Change Log Summary ##TimePeriod##
                        </td>
                    </tr>
                    <tr>
                        <td align='center' class="tableCellBorder">##DatabaseChangeLogSummaryTable##
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
