<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        .tableCellBorder
        {
            border-style: solid;
            border-width: 1;
        }
    </style>
</head>
<body>
    <table class="tableCellBorder">
        <tr>
            <td class="tableCellBorder">
                <table class="tableCellBorder">
                    <tr>
                        <td align='right' class="tableCellBorder" valign='top'><b>Team Member: </b></td>
                        <td align='left' class="tableCellBorder" valign="top">Neeti Gupta</td>
                    </tr>
                    <tr>
                        <td class="tableCellBorder"></td>
                        <td class="tableCellBorder"></td>
                    </tr>
                    <tr>
                        <td align='right' class="tableCellBorder" valign='top'><b>Total Hours Worked: </b></td>
                        <td align='left' class="tableCellBorder">5.00</td>
                    </tr>
                    <tr>
                        <td class="tableCellBorder"></td>
                        <td class="tableCellBorder"></td>
                    </tr>
                    <tr>
                        <td align='right' class="tableCellBorder" valign='top'><b>Primary Project: </b></td>
                        <td align='left' class="tableCellBorder">Time Task Tracker</td>
                    </tr>
                    <tr>
                        <td class="tableCellBorder"></td>
                        <td class="tableCellBorder"></td>
                    </tr>
                </table>
            </td>
            <td class="tableCellBorder"></td>
            <td align='right' class="tableCellBorder">
                <table class="tableCellBorder">
                    <tr>
                        <td align='right' class="tableCellBorder" valign='top'><b>Date: </b></td>
                        <td align='left' class="tableCellBorder">November 21, 2014</td>
                    </tr>
                    <tr>
                        <td class="tableCellBorder"></td>
                        <td class="tableCellBorder"></td>
                    </tr>
                    <tr>
                        <td align='right' class="tableCellBorder" valign='top'><b>Started: </b></td>
                        <td align='left' class="tableCellBorder">8:00 AM</td>
                    </tr>
                    <tr>
                        <td class="tableCellBorder"></td>
                        <td class="tableCellBorder"></td>
                    </tr>
                    <tr>
                        <td align='right' class="tableCellBorder" valign='top'><b>Finished: </b></td>
                        <td align='left' class="tableCellBorder">11:00 PM</td>
                    </tr>
                    <tr>
                        <td class="tableCellBorder"></td>
                        <td class="tableCellBorder"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="tableCellBorder" colspan="3"></td>
        </tr>
        <tr>
            <td colspan="3" class="tableCellBorder">
                <table class="tableCellBorder">
                    <tr>
                        <td class="tableCellBorder" align='right' valign='top'><b>Items Worked On: </b></td>
                        <td class="tableCellBorder" align='left'>
                            <style>
                                table, th, td
                                {
                                    border: 1px solid black;
                                }

                                th
                                {
                                    background-color: blue;
                                    color: white;
                                }
                            </style>
                            <table style='border-collapse: collapse' cellpadding='5'>
                                <tr>
                                    <th align='center'>Category</th>
                                    <th align='center'>Time</th>
                                    <th align='center'>Work Ticket</th>
                                    <th align='center'>Activity</th>
                                </tr>
                                <tr><td align='center'>Development</td><td align='right'>8:00 AM	-	9:00 AM		</td><td align='right'>N/A</td><td align='left'>	Helped NG with her bugs.</td></tr><tr><td align='center'>Analysis</td><td align='right'>9:00 AM	-	10:00 AM		</td><td align='right'>N/A</td><td align='left'>	Sent Summary Reports,Created new JIRA items and discussed about JIRA items.</td></tr><tr><td align='center'>Analysis</td><td align='right'>10:00 AM	-	11:00 AM		</td><td align='right'>N/A</td><td align='left'>	Discussed about Email preview with GR.</td></tr><tr><td align='center'>Analysis</td><td align='right'>9:00 PM	-	11:00 PM		</td><td align='right'>N/A</td><td align='left'>	Sent Remaining Summary reports and analysed about JIRA items.Also analyzed about PMO-4167.</td></tr>            
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="tableCellBorder" colspan="3"></td>
        </tr>
        <tr>
            <td class="tableCellBorder" colspan="3">
                <table class="tableCellBorder">
                    <tr>
                        <td class="tableCellBorder" align='right' valign='top'><b>Next Working Day: </b></td>
                        <td class="tableCellBorder" align='left'>11/22/2014</td>
                    </tr>
                    <tr>
                        <td class="tableCellBorder"></td>
                        <td class="tableCellBorder"></td>
                    </tr>
                    <tr>
                        <td class="tableCellBorder" align='right' valign='top'><b>Next Working Time: </b></td>
                        <td class="tableCellBorder" align='left'>8:00 AM</td>
                    </tr>
                    <tr>
                        <td class="tableCellBorder"></td>
                        <td class="tableCellBorder"></td>
                    </tr>
                    <tr>
                        <td class="tableCellBorder" align='right' valign='top'><b>Planned Hours:</b></td>
                        <td class="tableCellBorder" align='left'><b>7.00</b></td>
                    </tr>
                    <tr>
                        <td class="tableCellBorder"></td>
                        <td class="tableCellBorder"></td>
                    </tr>
                    <tr>
                        <td class="tableCellBorder" align='right' valign='top'><b>Question:</b></td>
                        <td class="tableCellBorder" align='left'>
                            <table style='border-collapse: collapse' cellpadding='5'>
                                <tr>
                                    <th align='center'>Question</th>
                                    <th align='center'>Answer</th>
                                </tr>
                                <tr><td align='right'>Did you have any promoting issues?</td><td align='left'>	No</td></tr><tr><td align='right'>Did you send email in case you faced any issue ?</td><td align='left'>	No</td></tr><tr><td align='right'>Did you have any code rebase issues?</td><td align='left'>	No</td></tr><tr><td align='right'>Did you create JIRA(s) after reviewing of emails?</td><td align='left'>	No</td></tr><tr><td align='right'>Did you send Summary Email at the end of the day?</td><td align='left'>	No</td></tr><tr><td align='right'>Did you faced Server Connectivity Issues?</td><td align='left'>	No</td></tr><tr><td align='right'>Did you have any Network issues?</td><td align='left'>	No</td></tr><tr><td align='right'>Did you have any Power Issues?</td><td align='left'>	No</td></tr><tr><td align='right'>Did you faced any issue in  Sending Daily Summary mail?</td><td align='left'>	No</td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
