<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!--
  Log levels:
  ALL
  DEBUG
  INFO
  WARN
  ERROR
  FATAL
  OFF
  -->

  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1"/>
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <connectionString value="Data Source=IVR-SQL-01\SQL01;Initial Catalog=LoggingAndTrace;Persist Security Info=True;User ID=706;Password=Welcome1;Connect Timeout=0"/>
    <commandText value="INSERT INTO Log4Net ([Date],[Thread],[Level],[Logger],[LogUser],[Message],[Exception], [ApplicationId]) VALUES (@log_date, @thread, @log_level, @logger, @user, @message, @exception, @ApplicationId)"/>
    <parameter>
      <parameterName value="@log_date"/>
      <dbType value="DateTime"/>
      <layout type="log4net.Layout.RawTimeStampLayout"/>
    </parameter>
    <parameter>
      <parameterName value="@thread"/>
      <dbType value="String"/>
      <size value="255"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level"/>
      <dbType value="String"/>
      <size value="50"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger"/>
      <dbType value="String"/>
      <size value="255"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@user"/>
      <dbType value="String"/>
      <size value="50"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{user}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception"/>
      <dbType value="String"/>
      <size value="2000"/>
      <layout type="log4net.Layout.ExceptionLayout"/>
    </parameter>
    <parameter>
      <parameterName value="@ApplicationId"/>
      <dbType value="Int32" />
      <size value="40" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ApplicationId}" />
      </layout>
    </parameter>
  </appender>
  <root>
    <level value="All"/>
    <appender-ref ref="AdoNetAppender"/>
  </root>
  <!--
  <logger name="MS-SQL">
    <level value="INFO"/>
  </logger>
  -->
</log4net>
