<#@ template language="C#" hostspecific="True" #>
<#@ 
	include file="../../../../Generators/Generators.Components/DataModelGeneratorHelper.tt" 
#>
<#
this.GenerateDataModelFiles(	"DataModel.TaskTimeTracker.RequirementAnalysis",
								new [] {"UseCase", "UseCaseActor", "UseCasePackage", "UseCaseRelationship", "UseCaseStep", 
								"UseCaseWorkFlowCategory", "ProjectUseCaseStatus"} 

							);
#>