<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ include file="..\..\..\..\Generators\Generators.Components\DataManagerGeneratorHelper.tt" #>
<#
this.GenerateDataManagerFiles(	"TaskTimeTracker.Components.BusinessLayer", 
								"DataModel.TaskTimeTracker.RequirementAnalysis",
								new [] {"Need","Project"} 
							);
#>
