<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ include file="..\..\..\Generators\Generators.Components\DataManagerGeneratorHelper.tt" #>
<#
this.GenerateDataManagerFiles(	"Framework.Components.Audit", 
								"DataModel.Framework.Audit",
								new [] {"AuditAction", "Trace"} 
							);
#>
