<#@ template language="C#" hostspecific="True" #>
<#@ assembly name="$(TargetDir)\Framework.Components.DataAccess.dll" #>
    <#@ assembly name="$(TargetDir)\DataModel.DayCare.dll" #>
<#@ 
	include file="../../../../../Generators/Generators.SQL/SQLStandardEntity/EntitySqlGeneratorHelper.tt"  
#>
<#
	this.GenerateSqlFiles("DataModel.DayCare", "Discount", "DiscountDataModel","DayCare","706","Welcome1");
#>
