<#@ template language="C#" hostspecific="True" #>
<#@ assembly name="$(TargetDir)\DataModel.ReferenceData.dll" #>
<#@ output extension=".sql" #>
<#@  
	include file="../../../../Generators/Generators.SQL/SQLNonStandardEntity/EntitySqlGeneratorHelper.tt"     
#>
<# 	this.GenerateSqlFiles("DataModel.ReferenceData", "State", "StateDataModel", "Location", "706", "Welcome1");
#>