<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!--
  Log levels:
  ALL
  DEBUG
  INFO
  WARN
  ERROR
  FATAL
  OFF
  -->

  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1"/>
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <connectionString value="Data Source=IVR-SQL-01\SQL01;Initial Catalog=LoggingAndTrace;Persist Security Info=True;User ID=706;Password=Welcome1;Connect Timeout=0"/>
    <commandText value="INSERT INTO Log4Net ([Date],[Thread],[Level],[Logger],[LogUser],[Message],[Exception], [ApplicationId], [StackTrace], [Computer], [ConnectionKey]) VALUES (@log_date, @thread, @log_level, @logger, @user, @message, @exception, @ApplicationId, @stacktrace, @computer, @connectionKey)"/>
    <parameter>
      <parameterName value="@log_date"/>
      <dbType value="DateTime"/>
      <layout type="log4net.Layout.RawTimeStampLayout"/>
    </parameter>
    <parameter>
      <parameterName value="@thread"/>
      <dbType value="String"/>
      <size value="255"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level"/>
      <dbType value="String"/>
      <size value="50"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger"/>
      <dbType value="String"/>
      <size value="255"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@user"/>
      <dbType value="String"/>
      <size value="50"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{user}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception"/>
      <dbType value="String"/>
      <size value="2000"/>
      <layout type="log4net.Layout.ExceptionLayout"/>
    </parameter>
    <parameter>
      <parameterName value="@ApplicationId"/>
      <dbType value="Int32" />
      <size value="40" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ApplicationId}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@stacktrace"/>
      <dbType value="String"/>
      <size value="6000"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{StackTrace}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@computer"/>
      <dbType value="String"/>
      <size value="100"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{Computer}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@connectionKey"/>
      <dbType value="String"/>
      <size value="100"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{ConnectionKey}"/>
      </layout>
    </parameter>
  </appender>
  <appender name="MongoDBAppender" type="Log4Mongo.MongoDBAppender, Log4Mongo">
    <bufferSize value="1"/>
    <connectionString value="mongodb://IVR-DEV-MONGO:27017" />
    <collectionName value="Log4Net" />
    <field>
      <name value="Date"/>
      <layout type="log4net.Layout.RawTimeStampLayout"/>
    </field>
    <field>
      <name value="Thread"/>
      <layout type="log4net.Layout.PatternLayout" value="%thread" />
    </field>
    <field>
      <name value="Level"/>
      <layout type="log4net.Layout.PatternLayout" value="%level"/>
    </field>
    <field>
      <name value="Logger"/>
      <layout type="log4net.Layout.PatternLayout" value="%logger"/>
    </field>
    <field>
      <name value="LogUser"/>
      <layout type="log4net.Layout.PatternLayout" value="%X{user}"/>
    </field>
    <field>
      <name value="Message" />
      <layout type="log4net.Layout.PatternLayout" value="%message"/>
    </field>
    <field>
      <name value="Exception"/>
      <layout type="log4net.Layout.ExceptionLayout"/>
    </field>
    <field>
      <name value="ApplicationId"/>
      <layout type="log4net.Layout.PatternLayout" value="%property{ApplicationId}" />
    </field>
    <field>
      <name value="StackTrace"/>
      <layout type="log4net.Layout.PatternLayout" value="%X{StackTrace}"/>
    </field>
    <field>
      <name value="Computer"/>
      <layout type="log4net.Layout.PatternLayout" value="%X{Computer}"/>
    </field>
    <field>
      <name value="ConnectionKey"/>
      <layout type="log4net.Layout.PatternLayout" value="%X{ConnectionKey}"/>
    </field>
  </appender>
  <root>
    <level value="All"/>
    <appender-ref ref="AdoNetAppender"/>
    <!--<appender-ref ref="MongoDBAppender" />-->
  </root>

  <!--<logger name="MSSQLLogger">
    <level value="ALL" />
    <appender-ref ref="AdoNetAppender" />
  </logger>

  <logger name="MongoDBLogger">
    <level value="ALL" />
    <appender-ref ref="MongoDBAppender" />
  </logger>-->
  <!--<logger name="Debugger">
    <level value="All" /> -->
  <!-- To Disable this put the value to "OFF" -->
  <!--
    <appender-ref ref="AdoNetAppender"/>
  </logger>-->
  <!--
  <logger name="MS-SQL">
    <level value="INFO"/>
  </logger>
  -->
</log4net>
