<#@ template language="C#" hostspecific="True" #>
<#@ 
	include file="../../../../../Generators/Generators.SQL/SQLStandardEntity/EntitySqlGeneratorHelper.tt"
#>
<#
	this.GenerateSqlFiles("DataModel.CapitalMarkets", "Issuer", "IssuerDataModel", "CapitalMarketsSecurityMaster", "706", "Welcome1");
#>