<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ include file="..\..\..\Generators\Generators.Components\DataManagerGeneratorHelper.tt" #>
<#
this.GenerateDataManagerFiles(	"Framework.Components.ReleaseLog", 
								"DataModel.Framework.ReleaseLog",
								new [] {"ReleasePublishCategory"} 
							);
#>
